body {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-size: 16px;
}

#main {
height: 100%;
margin: 0;
padding: 0;
background-image: url(./img/bg.png);
background-size: cover;
background-position: center center;
font-weight: bold;
font-family:courier, courier new, serif;
justify-content: center;
align-items: center;  
display: flex;  
flex-direction: column;  
}

.logo img {
  width:  50vw; 
  height: 40vh;       
}

.logo{  
  position: absolute;   
  top: -80px; 
  z-index: 2;
}

#main > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid white;      
  position: relative;
  z-index: 1;  
  height: 90vh;
  max-width: 25vw;    
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;  
  padding-top: 20px;
}

@media screen and (max-width: 768px) {  
  #main > .container{    
    max-width: 30vw;  
  }
  .logo{      
    top: -70px;     
  }
}

#main h1, p {  
  color: #FFFFFF;
  text-align: center;
  font-size: 2vh
}

#main p {
  width: 60%;
}

#main .col {
display: flex;
justify-content: center;
max-width: 55%;
margin: 10px 0;
}

#main .col .social-link {
 box-sizing: border-box;
 padding: 1%;
}

#main .col .social-link img {
width: 100%;
/* max-width: 80px; */
margin: 0 auto;
}

#main .button-container{
  display: flex;
  flex-direction: column;  
  width: 60%;  
}

#main .donate-btn, .contact-btn {
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 2vh;
font-weight: bold;
cursor: pointer;
margin: 5px;  
}

#main .donate-btn {
background-color: white;
color: black;
}

#main .contact-btn {
background-color: white;
color: black;
}

#main .container p:last-of-type {
color: #FFFFFF;
text-align: center;
margin-top: 20px;
}