body{
    margin: 0 auto;
    padding : 0;
    overflow: hidden;
    height: 100vh;
}

.carousel{
    position: relative;    
    width: 100%;
    height: 100%;    
    display: flex;    
    align-items: center;        
}

.wrapper{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;        
    transition: transform 1s;    
}

.card {  
  display: flex;
  flex-direction: column;
  gap: 1em;    
  padding: 16px 16px;
  width: 250px;    
  height: 450px;  
  border: 1px solid black;    
  background-color: white;  
  position: absolute;
  transition: all .3s ease-in;
}

.card > img {
    width: 100%;
    min-height: 40%;
    max-height: 40%;    
}

.text{    
    max-height: 25%;
    overflow: scroll;    
}

.text {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.text::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.card[data-pos="1"]{
    transform: translateX(0%);  
    z-index: 4;
}

.card[data-pos="2"],
.card[data-pos="-2"] {        
    filter: blur(1px);
    z-index: 2;
}

.card[data-pos="3"],
.card[data-pos="-3"] {    
    filter: blur(1px);
    z-index: 1;
}

.card[data-pos="2"]{
    transform: translateX(40%) scale(.9);
}

.card[data-pos="-2"]{
    transform: translateX(-40%) scale(.9);    
}

.card[data-pos="3"]{
    transform: translateX(70%) scale(.7);
}

.card[data-pos="-3"]{
    transform: translateX(-70%) scale(.7);
}

.card-blur{
    filter: blur(1px);
}

.card-show{
    
}

.navigation{
 display: flex;
 justify-content: center; 
 transition: all .3s ease-in;
}

ul{    
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;    
}

ul li {
	display: inline-block;
}

li {
    width: 18px;
    height: 18px;
    border: 1px solid black;
}

.active{
    background-color: black;
}
