body {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-size: 1em;
}

#main {
height: 100%;
margin: 0;
padding: 0;
background-image: url(./img/bg.png);
background-size: cover;
background-position: center center;
font-weight: bold;
font-family:courier, courier new, serif;
justify-content: center;
align-items: center;  
display: flex;  
flex-direction: column;  
}

.logo img {  
  height: 30vh;       
}

.logo{  
  position: absolute;   
  top: 0px; 
  z-index: 2;
}

#main > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid white;      
  position: relative;
  z-index: 1;
  max-height: 60%;
  max-width: 25vw;
  padding: 5% 0;  
}

#main h1, p {  
  font-size: 0.7em;
  color: #FFFFFF;
  text-align: center;
}

#main p {
  width: 60%;
}

@media screen and (max-width: 768px) {  
  #main > .container{    
    max-width: 50vw;  
  }
  #main h1, p {  
    font-size: 0.8em;    
  }
}

#main .col {
display: flex;
justify-content: center;
width: 60%;
margin: 10px 0;
}

#main .col .social-link {
 box-sizing: border-box;
 padding: 1%;
}

#main .col .social-link img {
width: 100%;
/* max-width: 80px; */
margin: 0 auto;
}

#main .button-container{
  display: flex;
  flex-direction: column;  
  width: 85%;  
}

#main .donate-btn, .contact-btn {
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 1.2em;
font-weight: bold;
cursor: pointer;
margin: 5px 10%;  
}

#main .donate-btn {
background-color: white;
color: black;
}

#main .contact-btn {
background-color: white;
color: black;
}

#main .container p:last-of-type {
color: #FFFFFF;
text-align: center;
margin-top: 20px;
}